<mat-toolbar color="primary">
  <div class="mat-typography nav-title">Catalogue</div>
  <a routerLink="/" class="nav-icon" mat-icon-button color="accent">
    <mat-icon>home</mat-icon>
  </a>
  <a routerLink="/movies" class="nav-icon" mat-icon-button color="accent">
    <mat-icon>movie</mat-icon>
  </a>
  <a routerLink="/shows" class="nav-icon" mat-icon-button color="accent">
    <mat-icon>live_tv</mat-icon>
  </a>
  <a routerLink="/people" class="nav-icon" mat-icon-button color="accent">
    <mat-icon>person</mat-icon>
  </a>
</mat-toolbar>
