<div *ngIf="show" class="container mat-typography">
  <div class="content">
    <div class="col-12 header">
      <h1>{{show.name}}</h1>
    </div>
    <div *ngIf="show.tagline" class="col-12 header">
      <h3>{{show.tagline}}</h3>
    </div>
    <div class="row" style="margin-top: 3rem">
      <div class="col-md-7">
        <p><span class="bolded">Release date: </span>{{show.first_air_date}}</p>
        <p><span class="bolded">Directed by: </span>
          <span *ngFor="let dir of show.created_by">{{dir.name}} </span>
        </p>
        <div class="genre-container" style="margin-bottom: 1.5rem">
          <span class="bolded">Genres: </span>
          <span class="genre" *ngFor="let genre of show.genres">{{genre.name}}</span>
        </div>
        <p><span class="bolded">Status: </span>{{show.status}}</p>
        <p><span class="bolded">Number of seasons:</span> {{show.number_of_seasons}}</p>
        <p><span class="bolded">Number of episodes:</span> {{show.number_of_episodes}}</p>
        <p><span class="bolded">Votes: </span>{{show.vote_average}}/10 - from {{show.vote_count}} votes</p>
        <p *ngIf="show.homepage">
          <span class="bolded">Homepage: </span>
          <a href="{{show.homepage}}">{{show.homepage}}</a>
        </p>
        <p style="margin-bottom: 0; font-weight: bold">Overview: </p>
        <p style="margin-left: 0.5rem">{{show.overview}}</p>
      </div>
      <div class="col-md-5">
        <img class="img-fluid" *ngIf="show.poster_path"
             src="{{baseImgUrl}}{{show.poster_path}}" alt="No poster">
      </div>
    </div>
    <p class="row bolded" style="margin-top: 1.5rem">Seasons:</p>
    <mat-paginator [length]="show.number_of_seasons"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20, 50]"
                   (page)="onSeasonsPageEvent($event)"
                   aria-label="Select page">
    </mat-paginator>
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-3 season-card" *ngFor="let season of show.seasons">
        <mat-card>
          <mat-card-header style="text-align: center; justify-content: center">
            <mat-card-title>
              <a [routerLink]="'/shows/'+show.id+'/seasons/'+season.season_number">{{season.name}}</a>
            </mat-card-title>
          </mat-card-header>
          <img *ngIf="season.poster_path" class="season-image img-fluid rounded mx-auto"
               mat-card-image src="https://image.tmdb.org/t/p/w200{{season.poster_path}}" alt="No poster">
          <img *ngIf="!season.poster_path" class="season-image img-fluid mx-auto"
               mat-card-image src="assets/not-found.png" alt="No photo">
          <mat-card-actions align="end">
            <a [routerLink]="'/shows/'+show.id+'/seasons/'+season.season_number"
               mat-stroked-button
               color="accent"
            >Show more
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <p class="row bolded" style="margin-top: 1.5rem">Cast:</p>
    <mat-paginator [length]="credits.cast.length"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20, 50]"
                   (page)="onCastPageEvent($event)"
                   *ngIf="credits && credits.cast"
                   aria-label="Select page">
    </mat-paginator>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-xl-3 actor-card" *ngFor="let actor of filteredCast">
        <mat-card>
          <mat-card-header style="text-align: center; justify-content: center">
            <mat-card-title>
              <a [routerLink]="'/people/'+actor.id">{{actor.name}}</a>
            </mat-card-title>
          </mat-card-header>
          <img *ngIf="actor.profile_path" class="actor-image img-fluid rounded mx-auto"
               mat-card-image src="https://image.tmdb.org/t/p/w200{{actor.profile_path}}" alt="No photo">
          <img *ngIf="!actor.profile_path" class="actor-image img-fluid mx-auto"
               mat-card-image src="assets/not-found.png" alt="No photo">
          <mat-card-content style="text-align: center; justify-content: center">
            <p style="margin-top: 0.5rem; margin-bottom: 0.5rem">as</p>
            <p *ngFor="let role of actor.roles" style="margin-bottom: 0.5rem;">{{role.character}}</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <a [routerLink]="'/people/'+actor.id"
               mat-stroked-button
               color="accent"
            >Show more
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="show.id">
    <div style="font-size: medium; margin-left: 1rem; font-weight: bold">
      Also check out these:</div>
    <app-recommendations
      [id]="show.id"
      [mediaType]="'tv'"
      [amount]="6"
    ></app-recommendations>
  </div>
</div>
