<mat-card *ngIf="person" class="mat-typography person-card">
  <mat-card-title-group>
    <mat-card-title>{{person.name}}</mat-card-title>
    <img *ngIf="person.profile_path"
         class="person-image" mat-card-image src="{{baseImgUrl}}/w200{{person.profile_path}}" alt="No image">
    <img *ngIf="!person.profile_path"
         class="person-image" mat-card-image src="assets/not-found.png" alt="Not found">
  </mat-card-title-group>
  <mat-card-content>
    <p>Known from:</p>
    <ul *ngFor="let product of person.known_for">
      <a [routerLink]="'/movies/'+product.id" *ngIf="product.media_type === 'movie'">{{product.title}}</a>
      <a [routerLink]="'/shows/'+product.id" *ngIf="product.media_type === 'tv'">{{product.name}}</a>
    </ul>
  </mat-card-content>
  <mat-card-actions align="end">
    <a [routerLink]="'/people/'+person.id"
       mat-stroked-button
       color="accent"
    >Show more
    </a>
  </mat-card-actions>
</mat-card>
