<app-search-form [typeLabel]="'shows'" (onSearch)="searchShows($event)"></app-search-form>

<div class="container-fluid mat-typography">
  <h5 *ngIf="!shows" class="placeholder-text">Nothing yet? Try searching for the names of the series</h5>
  <mat-spinner *ngIf="isLoading" [diameter]="100" class="mx-auto" style="margin-top: 50px"></mat-spinner>
  <div *ngIf="shows" class="content col-12">
    <div class="row subtitle">Search results:</div>
    <mat-paginator [length]="shows.total_results"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20, 50]"
                   (page)="onPageEvent($event)"
                   aria-label="Select page">
    </mat-paginator>

    <div class="row" *ngIf="filteredShowsList">
      <div class="col-xxl-4 col-lg-6 col-sm-12 item-card" *ngFor="let show of filteredShowsList">
        <app-show-item
          [show]="show"
          [filteredGenreNames]="findGenreNames(show.genre_ids)"
        ></app-show-item>
      </div>
    </div>
  </div>
</div>
